.bg-image-header {
  background-image: url("../img/sample.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.container {
 display: flex;
 flex-direction: row;
}
.box {
 border: solid 1px skyblue;
 margin: 10px;
 flex: 1;
}
@media (max-width: 768px) {
 .container {
   flex-direction: column;
 }
}

.wrapper .box {
    width: 80px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
.radius {
  background-color: #f8e58c;
  border-radius: 10px;
}